.comment_section {
  font-size: 15px;
  line-height: 1.4rem;
  padding: 0.5rem;

  // vote btn
  .btn_upvote,
  .btn_downvote {
    cursor: pointer;
    margin: 1rem 0 1rem 0.3rem;
    padding: 0.3rem 0.5rem;
    border: 0;
    border-radius: 2px;
    &:focus {
      outline: 0;
      border: 0;
    }
    &:disabled {
      background-color: $Gray;
      cursor: default;
      &:hover {
        background-color: $Gray;
      }
    }
  }

  // btn on hover
  .btn_upvote {
    &:hover {
      background: rgb(81, 167, 81);
    }
  }
  .btn_downvote {
    &:hover {
      background: rgb(255, 81, 0);
    }
  }

  ._cmm,
  ._rpl {
    display: grid;
    grid-template-columns: 11% auto;

    small:last-child {
      display: block;
      padding: 0.75rem 0;
    }
  }

  .reply-section {
    padding: 0.5rem 1rem 0.5rem 5rem;
  }
}
