.btn {
  background-color: $Gray;
  margin: 1rem 0.5rem 1rem 0;
  border: none;
  padding: 0.75rem 1rem !important;
  cursor: pointer;
  border-radius: 5px;
}
.btn-brown {
  color: $White;
  background-color: $Brown_Dark;
}

.errors {
  letter-spacing: 0.2px;
  color: red;
}
