@import "_lib.scss";

.nav_header {
  color: $White;
  background-color: $Brown;
  transition: all 1s ease;

  .brand {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 1rem 0;
    min-width: 200px;
  }

  .container {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
  }

  ul {
    display: none;
    align-items: center;
    @media screen and (min-width: 875px) {
      display: flex;
    }

    li {
      padding: 10px 16px;
    }
  }

  input {
    background-color: #afa69b;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(139, 139, 139);
    display: none;
    @media screen and (min-width: 875px) {
      display: flex;
    }
  }
}

// Dropdown
.dropdown {
  float: left;
  overflow: hidden;

  &:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: $White;
    padding: 10px 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    transform: translateX(10%);
    background-color: $Brown_Dark;

    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    a {
      float: none;
      color: $White;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        background-color: $Brown;
      }
    }
  }
}
