@import "_lib.scss";
@import "_NavMenu.scss";

.nav_header {
  position: fixed;
  width: 100%;
  color: $White;
  background-color: $Brown;
  z-index: 5;

  .brand {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 1rem 0;
    min-width: 170px;
  }

  .nav_search {
    align-items: center;
    display: none;
    @media screen and (min-width: 875px) {
      display: flex;
    }

    input {
      background-color: #afa69b;
      border-radius: 5px;
      width: 100%;
      padding: 10px 20px 10px 20px;
      border: 1px solid rgb(139, 139, 139);
    }

    .search_icon {
      cursor: pointer;
      position: relative;
      margin-left: -25px;
      color: $Brown_Dark;
    }
  }

  .nav_icon {
    padding: 2px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 1rem;

    @media screen and (min-width: 876px) {
      display: none;
    }
  }

  .container {
    padding: 0 0.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 170px auto 30%;
  }

  ul {
    display: none;
    align-items: center;
    @media screen and (min-width: 875px) {
      display: flex;
    }

    li {
      padding: 10px 16px;
    }
  }
}

// Dropdown
.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: $White;
    padding: 10px 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  &:hover .dropdown-content {
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
  }

  .dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: $Brown_Dark;
    font-size: 15px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    a {
      float: none;
      color: $White;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        background-color: $Brown;
      }
    }
  }
}
