main {
  @media screen and(min-width: 1023px) {
    border-right: $Border;
  }

  article {
    padding-right: 20px;
    h1 {
      padding: 1rem 0;
    }
  }
}

.form-comment {
  margin: 0.5rem 0;

  input {
    border-radius: 5px;
    border: 1px solid $Gray;
    margin-top: 0.5rem;
    padding: 10px;
  }
  textarea {
    border: 1px solid $Gray;
    margin: 0.5rem 0;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
  }
  button {
    padding: 0.5rem;
    width: 70px;
  }
}
