@import "_lib.scss";

.nav_menu {
  @media screen and (min-width: 876px) {
    display: none;
  }

  position: fixed;
  right: 0;
  background-color: $Brown_Dark;
  height: 100vh;
  width: 0px;
  float: right;
  transition: all 0.5s ease;
}

.open_nav {
  width: 80vw;
  right: 0;
}

// Icon Animation
