@import "_lib.scss";
@import "_header.scss";
@import "_comments.scss";
@import "_formComments.scss";
@import "_main.scss";
@import "_modal.scss";

.container {
  padding: 2rem 0.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.grid-container {
  @media screen and(min-width:1023px) {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}
aside {
  @media screen and(min-width: 1023px) {
    padding: 0 0 1.2rem 1rem;
  }

  li {
    padding: 0.2rem;
  }

  h3 {
    padding-bottom: 0.5rem;
  }
}
